

.blogs-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}




/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .blogs-title {
        flex-direction: column; /* Cambia la dirección de la flexbox en pantallas pequeñas */
    }

    .img-blogs, .blog-noticias {
        width: 100%; /* Ajusta el ancho para que ocupen toda la pantalla */
    }

    .img-blogs {
        order: 2; /* Cambia el orden de la imagen */
    }
}


.titublogs{
    margin: 15px;
}

.btn-blog {
    margin: 20px auto;
    width: 110px;
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-blog:hover {
    background-color: #68a3fb;
}

.card-blogs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, .1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

@media (max-width: 768px) {
    .blogs-title{
     display: block;
    }

    .img-blogs {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .blog-noticias .subtiblogs{
        text-align: center;
        font-size: 1rem;
    }
    .img-blogs img {
        width: 350px;
        margin: 0 auto;
    }
}

