.porque {
    text-align: center;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.txt .nuestro {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img-sub {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_ft {
    margin: 10px;
    padding: 5px;
    margin-top: 40px;                                                                                                    
}

.img_ft img {
    width: 600px;
}

.subti {
    padding: 20px;
    text-align: center;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subti .carcter {
    padding: 10px;
    text-align: center;
}

.carac .li2 {
    margin: 20px;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

@media (max-width: 768px) {
    .img-sub{
    margin: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
}
@media (max-width: 768px) {
    .img-sub {
        display: block;
    }

    .img_ft {
        display: flex;
        align-items: center;
    }

    .img_ft img {
        width: 350px;
        margin: 10px;
        margin: 0 auto;
    }

    .carac .li2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 834px) {
    .img-sub {
        display: block;
    }

    .img_ft {
        display: flex;
        align-items: center;
    }

    .img_ft img {
        width: 350px;
        margin: 10px;
        margin: 0 auto;
    }
    .carac .li2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
