.titi-cont h1 {
    display: block;
    text-align: center;
}

.parrafo-contacto{
    text-align: center;
    font-size: 1.4rem;
    padding: 2%;
}

.map {
    margin: 20px;
    padding: 15px;
}

.mapa {
    display: flex;
    margin: 0 auto;
}

.conten {
    margin: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 350px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 20px;
}

input[type="texto"],
input {
    width: 740px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 20px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23333333' width='18px' height='18px'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: center;
    cursor: pointer;
}

textarea {
    resize: none;
    width: 1130px;
    field-sizing: content;
    justify-content: center;
}

.proyectocotizar {
    width: 63% !important;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-cont {
    display: flex;
    justify-content: center;
}

.btn-cont button {
    background-color: #1976d2;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100px;
}

.btn-cont button:hover {
    background-color: #091a9c;

    transition: transform 0.3s ease;
}

.input-contact {
    display: table-caption;
}

@media (max-width: 768px) {
    .conten {
        display: block;
    }

    .input-contact {
        display: inline-grid;
    }

    .label {
        display: flex;
        justify-content: center;
    }

    .label2 {
        display: grid;
        width: 100%;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea,
    select {
        width: 90%;
    }

    input[type="texto"],
    input {
        width: 100%;
    }

    textarea {
        width: 90%;
    }

    .proyectocotizar {
        width: 90% !important;
    }
}



/* Estilos responsivos */
@media screen and (min-width: 768px) {
    .input-contact {
        flex-direction: row;
        flex-wrap: wrap;
    }

}