@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap");

:root {
    /* --primary-color: #f9532d; */
    /* --dark: #fff;  */
    --primary-color: #52489c;
    --primary-dark: #1f252e;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: "Outfit", sans-serif;
    background: #F8F9FA;
    color: #000;
}

/* Nav */
header {
    width: 100%;
    min-height: 5%;
    position: fixed;
    align-items: center;
    justify-content: center;
    background: #e6e6e6;
    box-shadow: 0 4px 17px rgba(53, 52, 52, 0.1);
    top: 0;
    z-index: 1000;
}

/* header.active{
    background: #e6e6e6;
    box-shadow: 0 4px 17px rgba(53, 52, 52, 0.1);
    transition: 1s;
} */

.navbar {
    display: flex;
    justify-content: center;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    position: sticky;
    z-index: 1;
}

.Cabecera-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 10px;
    font-size: 1.5rem;
    animation: leftSideAni 1s ease forwards;
}

.logo a {
    color: #1976d2;
    text-decoration: none;
}

.logo a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #1976d2;
}

.logo a:hover {
    color: #52489c;
    opacity: 0.9;
}

.Cabecera-ul {
    display: flex;
    gap: 0.6rem;
    list-style-type: none;
    overflow: hidden;
}

.Cabecera-li a {
    display: inline-block;
    padding: 0.3rem 1rem;
    color: #1976d2;
    text-decoration: none;
    font-size: 1.05rem;
    letter-spacing: 0.7px;
    transition: 0.3s;
}

.Cabecera-li .nav-link:hover {
    position: relative;
    color: #000;
    transition: 0.3s;
}

.Cabecera-li .nav-link:hover::after {
    content: "";
    position: absolute;
    left: 10%;
    top: 90%;
    width: 80%;
    height: 2px;
    background-color: #1976d2;
}

.button {
    border-radius: 100px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #1976d2, #518eca, #8fb2d4);
    color: #ffffff;
    margin-right: 50px;
    margin-left: 100px;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 25px;
    line-height: 1.5em;
    text-align: center;
    align-items: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background: linear-gradient(to right, #e6e6e6, #e6e6e6, #e6e6e6);
    color: #1976d2;
    transition: 0.5s;
}

.button .bx {
    margin-left: -3px;
}

.button span {
    margin-left: 3px;
}

/* Nav End */

/* nav-icon-5 */
.nav-icon-5 {
    width: 35px;
    height: 30px;
    margin: 10px;
    margin-top: 5px;
    position: relative;
    cursor: pointer;
    display: none;
}
/* nav-icon-5 End*/

/* PARA DISPOSITIVOS DE 1146 ANCHO */
@media (max-width: 1146px) {
    /* Nav */
    header {
        position: fixed;
        width: 100%;
        top: 0;
    }
    /* MENU HAMBURGUESA */
    .nav-icon-5 {
        display: flex;
    }

    .nav-icon-5 span {
        background-color: #1976d2;
        position: absolute;
        border-radius: 2px;
        transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
        width: 100%;
        height: 4px;
        transition-duration: 500ms;
    }
    .nav-icon-5 span:nth-child(1) {
        top: 0px;
        left: 0px;
    }
    .nav-icon-5 span:nth-child(2) {
        top: 13px;
        left: 0px;
        opacity: 1;
    }
    .nav-icon-5 span:nth-child(3) {
        bottom: 0px;
        left: 0px;
    }
    .nav-icon-5.open span:nth-child(1) {
        transform: rotate(45deg);
        top: 13px;
    }
    .nav-icon-5.open span:nth-child(2) {
        opacity: 0;
    }
    .nav-icon-5.open span:nth-child(3) {
        transform: rotate(-45deg);
        top: 13px;
    }
    /* FIN MENU */

    .Cabecera-nav {
        width: 100%;
        height: 100%;
        text-align: center;
        height: 0;
        overflow: hidden;
        transition: all 0.5s ease;
        position: absolute;
        display: block;
        top: 75%;
        right: 0;
        background-color: #e6e6e6;
    }

    /* .navbar {
        display: flex;
        align-items: center;
        margin-left: 26%;
    } */

    .Cabecera-nav.isActive {
        height: 100vh;
        transition: 1s;
    }

    .Cabecera-ul {
        flex-direction: column;
        padding: 2rem;
        margin-top: 10%;
    }

    .Cabecera-li {
        margin: 0.3em 0;
    }

    .Cabecera-li a {
        font-size: 1.8em;
    }

    /* .logo a img {
        margin-top: 20%;
    } */

    .button {
        font-size: 2em;
        margin-left: 50px;
    }

    /* Nav End */

    /* VIDEO */
    .video {
        margin-top: 9%;
    }
    /* VIDEO End */
}
/* FIN */

/* PARA DISPOSITIVOS DE iphone 11 */
@media (max-width: 828px) {
    /* Nav */
    header {
        position: fixed;
        width: 100%;
        top: 0;
    }
    /* MENU HAMBURGUESA */

    .nav-icon-5 {
        display: flex;
    }

    .nav-icon-5 span {
        background-color: #1976d2;
        position: absolute;
        border-radius: 2px;
        transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
        width: 100%;
        height: 4px;
        transition-duration: 500ms;
    }
    .nav-icon-5 span:nth-child(1) {
        top: 0px;
        left: 0px;
    }
    .nav-icon-5 span:nth-child(2) {
        top: 13px;
        left: 0px;
        opacity: 1;
    }
    .nav-icon-5 span:nth-child(3) {
        bottom: 0px;
        left: 0px;
    }
    .nav-icon-5.open span:nth-child(1) {
        transform: rotate(45deg);
        top: 13px;
    }
    .nav-icon-5.open span:nth-child(2) {
        opacity: 0;
    }
    .nav-icon-5.open span:nth-child(3) {
        transform: rotate(-45deg);
        top: 13px;
    }
    /* FIN MENU */

    .Cabecera-nav {
        width: 100%;
        height: 100%;
        text-align: center;
        height: 0;
        overflow: hidden;
        transition: all 0.5s ease;
        position: absolute;
        display: block;
        top: 80%;
        right: 0;
        background-color: #e6e6e6;
    }

    /* .navbar {
        display: flex;
        align-items: center;
        margin-left: 26%;
    } */

    .Cabecera-nav.isActive {
        height: 100vh;
        transition: 1s;
    }

    .Cabecera-ul {
        flex-direction: column;
        padding: 2rem;
        margin-top: 10%;
    }

    .Cabecera-li {
        margin: 0.3em 0;
    }

    .Cabecera-li a {
        font-size: 1.8em;
    }

    /* .logo a img {
        margin-top: 20%;
    } */

    .button {
        font-size: 2em;
        margin-left: 50px;
    }

    /* Nav End */

    /* VIDEO */
    .video {
        margin-top: 9%;
    }
    /* VIDEO End */
}
/* FIN */

@media (max-width: 834px) {
    .Cabecera-nav {
        top: 80%;
    }
}

@media (max-width: 800px) {
    .Cabecera-nav {
        top: 80%;
    }
}

@media (max-width: 884px) {
    .Cabecera-nav {
        top: 80%;
    }
}

/*PARA DISPOSITIVOS MOVILES*/
@media (max-width: 768px) {
    /* Nav */
    header {
        position: fixed;
        width: 100%;
        top: 0;
    }
    /* MENU HAMBURGUESA */
    .nav-icon-5 {
        display: flex;
    }

    .nav-icon-5 span {
        background-color: #1976d2;
        position: absolute;
        border-radius: 2px;
        transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
        width: 100%;
        height: 4px;
        transition-duration: 500ms;
    }
    .nav-icon-5 span:nth-child(1) {
        top: 0px;
        left: 0px;
    }
    .nav-icon-5 span:nth-child(2) {
        top: 13px;
        left: 0px;
        opacity: 1;
    }
    .nav-icon-5 span:nth-child(3) {
        bottom: 0px;
        left: 0px;
    }
    .nav-icon-5.open span:nth-child(1) {
        transform: rotate(45deg);
        top: 13px;
    }
    .nav-icon-5.open span:nth-child(2) {
        opacity: 0;
    }
    .nav-icon-5.open span:nth-child(3) {
        transform: rotate(-45deg);
        top: 13px;
    }
    /* FIN MENU */

    .Cabecera-nav {
        width: 100%;
        height: 100%;
        text-align: center;
        height: 0;
        overflow: hidden;
        transition: all 0.5s ease;
        position: absolute;
        display: block;
        top: 80%;
        right: 0;
        background-color: #e6e6e6;
    }

    /* .navbar {
        display: flex;
        align-items: center;
        margin-left: 26%;
    } */

    .Cabecera-nav.isActive {
        height: 100vh;
        transition: 1s;
    }

    .Cabecera-ul {
        flex-direction: column;
        padding: 2rem;
        margin-top: 10%;
    }

    .Cabecera-li {
        margin: 0.3em 0;
    }

    .Cabecera-li a {
        font-size: 1.8em;
    }

    /* .logo a img {
        margin-top: 20%;
    } */

    .button {
        font-size: 2em;
    }

    /* Nav End */

    /* VIDEO */
    .video {
        margin-top: 13%;
    }
    /* VIDEO End */
}

/*PARA DISPOSITIVOS MOVILES End*/
