.container-perfil {
    margin: 20px;
    padding: 20px;
}

.perfil-equipo {
    text-align: center;
    font-size: 35px;
    padding: 20px;
}

.img-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18%;
    border-radius: 50%;
    border: 3px solid #ccc; /* Borde gris para el perfil principal */
}

.sec-perfil.selected {
    border-radius: 50%;
    border: 3px solid #ccc; /* Borde azul para el perfil secundario seleccionado */
}

.perfiles {
    width: 90%;
    margin: 0 auto;
}

.img-perfil {
    width: 270px;
    height: 270px;
    padding: 10px;
    border-radius: 50%;
}

.perfil-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 11%;
}

.img-forma {
    margin: 10px;
    padding: 20px;
}

.img-sec {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(.8);
}

.img-sec:hover {
    transition: transform 0.3s ease ease-in-out;
    transform: scale(1.07);
    filter: grayscale(0);
}

.perfil-secundario {
    display: flex;
    justify-content: center;
}

.icon-perfil {
    display: flex;
    align-items: center; /* Alinea los iconos verticalmente */
}

.icon-perfil i {
    font-size: 24px;
    cursor: pointer;
    margin: 0 5px; /* Agrega un margen a los lados de los iconos */
}
