.img-sec {
    transition: transform 0.5s ease; /* Propiedad y duración de la animación */
}

.sec-perfil {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.selected .img-sec {
    transform: scale(1.1); /* Escala aplicada a la imagen seleccionada */
}

.container-perfil {
    margin: 20px;
    padding: 20px;
}

.perfil-equipo {
    text-align: center;
    font-size: 35px;
    padding: 20px;
}

.img-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18%;
    border-radius: 50%;
    border: 3px solid #ccc;
}

.sec-perfil.selected {
    border-radius: 50%;
    border: 3px solid #ccc;
    width: 115px;
    height: 115px;
}

.swiper-slide {
    flex-shrink: 0.1 !important;
    width: 80% !important;
    height: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.swiper {
    width: 60%;
    transform: none;
}

.perfiles {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-perfil {
    width: 270px;
    height: 270px;
    padding: 10px;
    border-radius: 50%;
}

.perfil-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 11%;
    margin-bottom: 20px;
}

.img-forma {
    margin: 10px;
    padding: 20px;
}

.img-sec {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(0.8);
}

.img-sec:hover {
    transition: transform 0.3s ease ease-in-out;
    transform: scale(1.07);
    filter: grayscale(0);
}

.perfil-secundario {
    display: flex;
    justify-content: center;
    width: 100%;
}

.icon-perfil {
    display: flex;
    align-items: center;
    font-size: 26px;
    cursor: pointer;
    padding: 10px;
}
@media (max-width: 768px) {
    .perfil-principal {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }

    .perfil-secundario {
        display: flex;
        justify-content: center;
    }

    .img-perfil {
        width: 240px;
        height: 240px;
    }

    .desc-perfil {
        text-align: center;
    }

    .img-sec {
        width: 80px;
        height: 80px;
    }

    .sec-perfil.selected {
        border-radius: 50%;
        border: 3px solid #ccc;
        width: 90px;
        height: 90px;
    }

    .swiper {
        width: 100%;
    }
}
